<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966689738137-gljrscrnsbk581nm2ae3s93gc0a5gf6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966689738137-gljrscrnsbk581nm2ae3s93gc0a5gf6u</string>
	<key>API_KEY</key>
	<string>AIzaSyCfpD5ED6Y2XyMtUrK_FnWDi2IeJP9U7FM</string>
	<key>GCM_SENDER_ID</key>
	<string>966689738137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trevinwisaksana.Scene</string>
	<key>PROJECT_ID</key>
	<string>scene-1516525343008</string>
	<key>STORAGE_BUCKET</key>
	<string>scene-1516525343008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966689738137:ios:a02c4a2f3f4dc580</string>
	<key>DATABASE_URL</key>
	<string>https://scene-1516525343008.firebaseio.com</string>
</dict>
</plist>